{{- if .Values.serviceExport }}
{{- range .Values.serviceExport }}
{{- $serviceName := .name }}
{{- if .backendPolicy }}
{{- with .backendPolicy }}
{{- if .securityPolicy }}
{{- if .securityPolicy.enabled }}
{{- with .securityPolicy }}
---
apiVersion: compute.cnrm.cloud.google.com/v1beta1
kind: ComputeSecurityPolicy
metadata:
  annotations:
    cnrm.cloud.google.com/project-id: {{ .project }}
  name: {{ $serviceName }}-ca-waf
spec:
  resourceID: {{ $serviceName }}-ca-waf
  description: {{ .description | default (printf "Cloud Armor WAF policy for %s" $serviceName) | quote }}
  adaptiveProtectionConfig:
    layer7DdosDefenseConfig:
      enable: {{ .enableAdaptiveProtection | default "true" }}
  type: "CLOUD_ARMOR"
  rule:
    {{- include "gateway-api-chart.securityPolicyRules" (dict "securityPolicy" .) | nindent 4 }}
{{- end }}
{{- end }}
{{- end }}
{{- end }}
{{- end }}
{{- end }}
{{- if .Values.service }}
{{- range .Values.service }}
{{- $serviceName := .name }}
{{- if .backendPolicy }}
{{- with .backendPolicy }}
{{- if .securityPolicy }}
{{- if .securityPolicy.enabled }}
{{- with .securityPolicy }}
---
apiVersion: compute.cnrm.cloud.google.com/v1beta1
kind: ComputeSecurityPolicy
metadata:
  annotations:
    cnrm.cloud.google.com/project-id: {{ .project }}
  name: {{ $serviceName }}-ca-waf
spec:
  resourceID: {{ $serviceName }}-ca-waf
  description: {{ .description | default (printf "Cloud Armor WAF policy for %s" $serviceName) | quote }}
  adaptiveProtectionConfig:
    layer7DdosDefenseConfig:
      enable: {{ .enableAdaptiveProtection | default "true" }}
  type: "CLOUD_ARMOR"
  rule:
    {{- include "gateway-api-chart.securityPolicyRules" (dict "securityPolicy" .) | nindent 4 }}
{{- end }}
{{- end }}
{{- end }}
{{- end }}
{{- end }}
{{- end }}
{{- end }}
{{- end }}