{{- if .Values.gateway }}
{{- range .Values.gateway }}
---
kind: Gateway
apiVersion: gateway.networking.k8s.io/v1
metadata:
  name: {{ .name }}
  {{- if .namespace }}
  namespace: {{ .namespace }}
  {{- end }}
  {{- if .issuer }}
  annotations:
    cert-manager.io/{{ .issuer.type }}: {{ .issuer.name }}
  {{- end }}
spec:
  gatewayClassName: {{ .gatewayClassName }}
  listeners:
    {{- toYaml .listeners | nindent 4 }}
{{- end }}
{{- end }}