# # Deploy a Gateway
# gateway:
#   - name: my-gw
#     # If you use cert-manager, you can specify the issuer type and name here
#     issuer:
#       type: cluster-issuer
#       name: my-cluster-issuer
#     # Specify the gateway class (GKE: https://cloud.google.com/kubernetes-engine/docs/how-to/gatewayclass-capabilities)
#     gatewayClassName: gke-l7-global-external-managed-mc
#     listeners:
#       # toYaml
#       - name: https
#         hostname: my.host.name
#         port: 443
#         protocol: HTTPS
#         allowedRoutes:
#           kinds:
#             - kind: HTTPRoute
#         tls:
#           mode: Terminate
#           certificateRefs:
#             - name: my-cert
#     # Specify a Gateway Policy !Uses GCPGatewayPolicy!
#     gatewayPolicy:
#       # Allow Global Access? If not specified, it defaults to false https://cloud.google.com/kubernetes-engine/docs/how-to/configure-gateway-resources#configure_global_access
#       allowGlobalAccess: false
#       # This Policy must already exist to be able to apply to the Gateway in question. https://cloud.google.com/kubernetes-engine/docs/how-to/configure-gateway-resources#configure_ssl_policies
#       sslPolicy: my-modern-policy

# # Deploy a httpRoute and attach to a gateway.
# httpRoute:
#   - name: my-route
#     # What is the name of the Gateway this httpRoute should attach to?
#     gatewayName: my-gw
#     # Is the gateway you are referencing in a different namespace than where this httpRoute will be deployed? If so specify here.
#     gatewayNamespace: my-different-namespace
#     # Do you want to automatically add a httpRoute to redirect HTTP requests to HTTP?
#     # This will add a HTTPRoute which will attach to the gateway that will instruct it to redirect to the HTTPS scheme. An HTTP listener must exist on the gateway.
#     redirectHTTP:
#       # What is the name of the http listener?
#       httpListenerName: http
#     # You can also redirect specific hostnames to other hostnames.
#     # This creates 1 or more httpRoutes which redirect requests to the listenerName to the redirectHostname.
#     redirectHost:
#       # The listenerName must exist on the gatewayName referenced above.
#       - listenerName: http-www
#         # What scheme should be used when the redirect occurs?
#         redirectScheme: https
#         # What is the hostname you want to redirect to?
#         redirectHostname: nonwww.host
#       - listenerName: http-non-www
#         redirectScheme: https
#         redirectHostname: www.host.name
#     rules:
#       # toYaml see: https://gateway-api.sigs.k8s.io/reference/spec/#gateway.networking.k8s.io/v1.HTTPRouteRule
#       - backendRefs:
#         - group: net.gke.io
#           kind: ServiceImport
#           name: my-service
#           port: 8080

# # Deploy serviceExport for Multi-Cluster-Ingress
# serviceExport:
#   # Name should match the service name that you want to "export". For example, your service name might be my-service. Thats what you want to specify here.
#   - name: my-service
#     # Configure your own health checks on this endpoint? See: https://cloud.google.com/kubernetes-engine/docs/how-to/configure-gateway-resources#configure_health_check
#     # The name of this healthcheck policy is derived from the name of the service export. (e.g. my-service-healthcheck)
#     healthCheck:
#       # Optionally configure the below defaults. If not specified, the default values listed will be used.
#       checkIntervalSec: 15
#       timeoutSec: 15
#       healthyThreshold: 1
#       unhealthyThreshold: 2
#       logConfigEnabled: true
#       # What type of healthcheck should it be?
#       type: HTTP
#       # valid keys here are httpHealthCheck, httpsHealthCheck, grpcHealthCheck and http2HealthCheck using healthcheck type HTTP, HTTPS and HTTP2 respectively.
#       httpHealthCheck:
#         # toYaml
#         requestPath: "/healthz"
#     # Specify a backend Policy !Uses GCPBackendPolicy!
#     backendPolicy:
#       # Timeout: https://cloud.google.com/kubernetes-engine/docs/how-to/configure-gateway-resources#configure_timeout
#       timeoutSec: 40
#       # Session Affinity: https://cloud.google.com/kubernetes-engine/docs/how-to/configure-gateway-resources#session_affinity
#       sessionAffinity:
#         # CLIENT_IP or GENERATED_COOKIE
#         type: GENERATED_COOKIE
#         # If GENERATED_COOKIE Specify TTL
#         cookieTtlSec: 50
#       # Connection Draining: https://cloud.google.com/kubernetes-engine/docs/how-to/configure-gateway-resources#configure_connection_draining
#       connectionDraining:
#         timeoutSec: 60
#       # Logging: https://cloud.google.com/kubernetes-engine/docs/how-to/configure-gateway-resources#http_access_logging
#       logging:
#         enabled: true
#         sampleRate: 500000
#       # Configure WAF (Cloud Armor) Security Policy? !Requires Config Connector!
#       securityPolicy:
#         # Enable this Policy? (Can disable but leave all the config in place if needed by setting to false)
#         enabled: true
#         # Optional description for the security policy (max 2048 characters)
#         # If not specified, defaults to "Cloud Armor WAF policy for <service-name>"
#         # description: "WAF policy for production API endpoints"
#         # Enable Adaptive Protection on this Security Policy? https://cloud.google.com/armor/docs/adaptive-protection-overview
#         # enableAdaptiveProtection: true
#         # By default the action for all the rules is "deny(403)" However if you want to specify your own action you can do so here:
#         action: "deny(403)"
#         # Should the rules be in preview mode? Meaning that they log but don't take action? Setting preview to false puts all rules in enforcement mode.
#         # https://cloud.google.com/armor/docs/security-policy-overview#preview_mode
#         preview: false
#         # Must specify the GCP project ID:
#         project: my-gcp-project
#         # WAF Rules are grouped into "waves" to minimize rule quota usage.
#         # Each wave combines multiple WAF rule sets into a single rule using OR operators.
#         # This approach reduces the total number of rules from 12+ to just 3-4 rules.
#         # Wave priorities: 5 (highest), 10, 15 (lowest) - evaluated before default allow rule.
#         # Wave 1: SQL Injection, XSS, LFI, RCE, RFI rules - Core injection attacks
#         # Wave 2: Method Enforcement, Scanner Detection, Protocol Attack, PHP, Session Fixation rules - Protocol and method-based attacks
#         # Wave 3: Java, NodeJS, CVE, JSON SQLi rules - Language-specific and vulnerability-based attacks
#         # The below is only documented \ commented for the SQL Injection Rules, however the same sensitivity and optOut and optIn Rule configuration can be applied to all the preconfigured WAF Rules
#         # If you leave out a section entirely, then those WAF rules will not apply at all.
#         # Alternatively, you can set enabled: false to disable a rule set without removing the config block.
#         # Configure SQL Injection Rules: https://cloud.google.com/armor/docs/waf-rules#sql_injection_sqli
#         sqliConfig:
#           # Set enabled: false to disable this rule set without removing the config block
#           # If enabled is not specified, defaults to true (backwards compatible)
#           # Specify a Sensitivity level that you want to apply: https://cloud.google.com/armor/docs/rule-tuning#choose_a_sensitivity_level
#           sensitivity: 1
#           # Specify which signatures you want to not apply. https://cloud.google.com/armor/docs/rule-tuning#opt_out_rule_signatures
#           optOutRules:
#             - "owasp-crs-v030301-id942440-sqli"
#           # Specify which signatures you want to optIn to. If you specify optOutRules you cannot specify optInRules. You must also set sensitivity to 0. https://cloud.google.com/armor/docs/rule-tuning#opt_in_rule_signatures
#           optInRules:
#             - "owasp-crs-v030301-id942440-sqli"
#         # Cross Site Scripting Rules: https://cloud.google.com/armor/docs/waf-rules#cross-site_scripting_xss
#         xssConfig:
#           # Set enabled: false to disable this rule set without removing the config block
#           # If enabled is not specified, defaults to true
#           enabled: true
#         # Local File Inclusion Rules: https://cloud.google.com/armor/docs/waf-rules#local_file_inclusion_lfi
#         lfiConfig:
#           # Set enabled: false to disable without removing the config block
#           enabled: true
#         # Remote Code Execution Rules: https://cloud.google.com/armor/docs/waf-rules#remote_code_execution_rce
#         rceConfig:
#           enabled: true
#         # Remote File Inclusion Rules: https://cloud.google.com/armor/docs/waf-rules#remote_file_inclusion_rfi
#         rfiConfig:
#           enabled: true
#         # Method Enforcement Rules: https://cloud.google.com/armor/docs/waf-rules#method_enforcement
#         methodConfig:
#           enabled: true
#         # Scanner Detection Rules: https://cloud.google.com/armor/docs/waf-rules#scanner_detection
#         scannerConfig:
#           enabled: true
#         # Protocol Attack Rules: https://cloud.google.com/armor/docs/waf-rules#protocol_attack
#         protocolConfig:
#           enabled: true
#         # PHP Rules: https://cloud.google.com/armor/docs/waf-rules#php
#         phpConfig:
#           enabled: true
#         # Session Fixation Rules: https://cloud.google.com/armor/docs/waf-rules#session_fixation
#         sessionConfig:
#           enabled: true
#         # Java Attack Rules: https://cloud.google.com/armor/docs/waf-rules#java_attack
#         javaConfig:
#           enabled: true
#         # NodeJS Attack Rules: https://cloud.google.com/armor/docs/waf-rules#nodejs_attack
#         nodejsConfig:
#           enabled: true
#         # CVE and Other Vulnerability Rules: https://cloud.google.com/armor/docs/waf-rules#cves_and_other_vulnerabilities
#         cveConfig:
#           # Example: Set enabled: false to disable CVE rules
#           enabled: true
#         # JSON-formatted content SQLi vulnerability: https://cloud.google.com/armor/docs/waf-rules#json-formatted_content_sqli_vulnerability
#         jsonsqliConfig:
#           enabled: true
#         # Set a default rate limit ban or throttling
#         # Rate limiting rule is applied just before default allow rule (priority 2147483646)
#         rateLimitConfig:
#           # rate_based_ban or throttle
#           # throttle can be changed to rate_based_ban but not rate_based_ban to throttle
#           action: "rate_based_ban"
#           preview: true
#           # how long should the ban be in affect for? Ignored if action set to throttle
#           banDurationSec: 60
#           # When the rate limit is exceeded what code should be returned to the client?
#           # deny-403|deny-404|deny-429|deny-502|redirect
#           exceedAction: deny(429)
#           # How many requests should be exceeded during the time interval to ban or throttle?
#           requests: 100
#           # Time interval in seconds
#           interval: 60
#           # Use only one of enforceOnKey or enforceOnKeyConfigs
#           # Optional. Define which key(s) you want to use for rate limiting. Defaults to ALL
#           # See: https://cloud.google.com/armor/docs/rate-limiting-overview#identifying_clients_for_rate_limiting
#           # enforceOnKey: "XFF_IP"
#           # Optional. Specify enforceOnKeyConfigs list.
#           # Note: When using enforceOnKeyConfigs, enforceOnKey must be empty string (handled automatically)
#           # enforceOnKeyConfigs:
#           #   - keyType: "IP"
#           #   - keyType: "HTTP_COOKIE"
#           #     # Required when using keyType HTTP_HEADER or HTTP_COOKIE:
#           #     keyName: "HTTP_COOKIE_NAME"
#           # Required when using enforceOnKey HTTP_HEADER or HTTP_COOKIE:
#           # enforceOnKeyName: "MY_COOKIE"
#         # Custom Rules. This can be any rule(s) you want to create yourself (passed through as-is):
#         customRules:
#           # toYaml
#           - description: "my-custom-rule"
#             action: deny(403)
#             preview: true
#             priority: 99
#             match:
#               expr:
#                 # Specify the expression. Here are some examples: https://cloud.google.com/armor/docs/rules-language-reference#expression-examples
#                 expression: "inIpRange(origin.ip, '198.51.100.0/24')"