{{- if .Values.apis }}
{{- $allowResourceDeletion := .Values.allowResourceDeletion }}
{{- $projectName := include "cnrm-chart.projectID" . }}
{{- range .Values.apis }}
---
apiVersion: serviceusage.cnrm.cloud.google.com/v1beta1
kind: Service
metadata:
  annotations:
    {{- if $allowResourceDeletion }}
    cnrm.cloud.google.com/deletion-policy: "none"
    {{- else }}
    cnrm.cloud.google.com/deletion-policy: "abandon"
    {{- end }}
    cnrm.cloud.google.com/disable-dependent-services: "false"
  name: {{ $projectName }}-{{ include "cnrm-chart.sanitizeName" .name }}
spec:
  projectRef:
    name: {{ $projectName }}
  resourceID: {{ .name }}
{{- end -}}
{{- end -}}