{{- if .Values.sql }}
{{- $allowResourceDeletion := .Values.allowResourceDeletion }}
{{- $projectName := include "cnrm-chart.projectID" . }}
{{- range .Values.sql }}
---
apiVersion: sql.cnrm.cloud.google.com/v1beta1
kind: SQLInstance
metadata:
  annotations:
    {{- if $allowResourceDeletion }}
    cnrm.cloud.google.com/deletion-policy: "none"
    {{- else }}
    cnrm.cloud.google.com/deletion-policy: "abandon"
    {{- end }}
    {{- if .customAnnotations }}
    {{- range $key, $value := .customAnnotations }}
    {{ $key }}: {{ $value | quote }}
    {{- end }}
    {{- end }}
    cnrm.cloud.google.com/project-id: {{ $projectName }}
  name: {{ $projectName }}-{{ .name }}
spec:
  {{- if .instanceType }}
  instanceType: {{ .instanceType }}
  {{- end }}
  resourceID: {{ .name }}
  databaseVersion: {{ .databaseVersion }}
  region: {{ .region }}
  {{- if .masterInstanceRef }}
  masterInstanceRef: 
    name: {{ $projectName }}-{{ .masterInstanceRef }}
  {{- end }}
  {{- if .replicaConfiguration }}
  replicaConfiguration:
    {{- toYaml .replicaConfiguration | nindent 6 }}
  {{- else if and (eq .instanceType "READ_REPLICA_INSTANCE") (hasPrefix "POSTGRES" .databaseVersion) }}
  replicaConfiguration:
    failoverTarget: false
  {{- end }}
  settings:
    tier: {{ .tier }}
    diskSize: {{ .diskSize }}
    availabilityType: {{ .availabilityType }}
    {{- if not (eq .instanceType "READ_REPLICA_INSTANCE") }}
    backupConfiguration:
      enabled: true
      {{- if hasPrefix "POSTGRES" .databaseVersion }}
      pointInTimeRecoveryEnabled: true
      {{- else if hasPrefix "MYSQL" .databaseVersion }}
      binaryLogEnabled: true
      {{- end }}
      backupRetentionSettings:
        {{- if .backupRetention }}
        retainedBackups: {{ .backupRetention.retainedBackups | default 7 }}
        retentionUnit: {{ .backupRetention.retentionUnit | default "COUNT" }}
        {{- else }}
        retainedBackups: 7
        {{- end }}
    {{- end }}
    {{- if .deletionProtectionEnabled }}
    deletionProtectionEnabled: true
    {{- end }}
    {{- if .databaseFlags }}
    databaseFlags:
      {{- range .databaseFlags }}
      - name: {{ .name }}
        value: {{ .value | quote }}    
      {{- end }}
    {{- end }}
    {{- if .insightsConfig }}
    insightsConfig:
      {{- toYaml .insightsConfig | nindent 6 }}
    {{- end }}
    {{- if .ipConfiguration }}
    ipConfiguration:
      {{- toYaml .ipConfiguration | nindent 6 }}
    {{- end }}
    {{- if .locationPreference }}
    locationPreference:
      {{- toYaml .locationPreference | nindent 6 }}
    {{- end }}
    {{- if .maintenanceWindow }}
    maintenanceWindow:
      {{- with .maintenanceWindow}}
      day: {{ .day }}
      hour: {{ .hour }}
      updateTrack: {{ .updateTrack | quote }}
      {{- end }}
    {{- end }}
{{- if .users }}
{{- $instanceName := .name }}
{{- range .users }}
---
apiVersion: sql.cnrm.cloud.google.com/v1beta1
kind: SQLUser
metadata:
  annotations:
    {{- if $allowResourceDeletion }}
    cnrm.cloud.google.com/deletion-policy: "none"
    {{- else }}
    cnrm.cloud.google.com/deletion-policy: "abandon"
    {{- end }}
    cnrm.cloud.google.com/project-id: {{ $projectName }}
  name: {{ $projectName }}-{{ $instanceName }}-{{ include "cnrm-chart.sanitizeEmail" .resourceID }}
spec:
  instanceRef:
    name: {{ $projectName }}-{{ $instanceName }}
  type: {{ .type }}
  resourceID: {{ .resourceID }}
  {{- if .password }}
  password:
    {{- if .password.value }}
    value: {{ .password.value | quote }}
    {{- end }}
    {{- if .password.valueFrom }}
    valueFrom:
      {{- toYaml .password.valueFrom | nindent 6 }}
    {{- end }}
  {{- end }}
{{- end }}
{{- end }}
{{- if .databases }}
{{- $instanceName := .name }}
{{- range .databases }}
---
apiVersion: sql.cnrm.cloud.google.com/v1beta1
kind: SQLDatabase
metadata:
  annotations:
    {{- if $allowResourceDeletion }}
    cnrm.cloud.google.com/deletion-policy: "none"
    {{- else }}
    cnrm.cloud.google.com/deletion-policy: "abandon"
    {{- end }}
    cnrm.cloud.google.com/project-id: {{ $projectName }}
  name: {{ $projectName }}-{{ $instanceName }}-{{ include "cnrm-chart.sanitizeName" .name }}
spec:
  resourceID: {{ .name }}
  {{- if .deletionPolicy }}
  deletionPolicy: {{ .deletionPolicy | quote }}
  {{- end }}
  instanceRef:
    name: {{ $projectName }}-{{ $instanceName }}
{{- end -}}
{{- end -}}
{{- end -}}
{{- end -}}