{{- if .Values.computeVpnTunnel }}
{{- $allowResourceDeletion := .Values.allowResourceDeletion }}
{{- $projectName := include "cnrm-chart.projectID" . }}
{{- range .Values.computeVpnTunnel }}
---
apiVersion: compute.cnrm.cloud.google.com/v1beta1
kind: ComputeVPNTunnel
metadata:
  annotations:
    {{- if $allowResourceDeletion }}
    cnrm.cloud.google.com/deletion-policy: "none"
    {{- else }}
    cnrm.cloud.google.com/deletion-policy: "abandon"
    {{- end }}
    {{- if .customAnnotations }}
    {{- range $key, $value := .customAnnotations }}
    {{ $key }}: {{ $value | quote }}
    {{- end }}
    {{- end }}
    cnrm.cloud.google.com/project-id: {{ $projectName }}
  name: {{ $projectName }}-{{ .name }}
spec:
  resourceID: {{ .name }}
  region: {{ .region }}
  {{- if .description }}
  description: {{ .description | quote }}
  {{- end }}
  {{- if .ikeVersion }}
  ikeVersion: {{ .ikeVersion }}
  {{- end }}
  {{- with .localTrafficSelector }}
  localTrafficSelector:
    {{- range . }}
      - {{ . | quote }}
    {{- end }}
  {{- end }}
  {{- with .remoteTrafficSelector }}
  remoteTrafficSelector:
    {{- range . }}
      - {{ . | quote }}
    {{- end }}
  {{- end }}
  {{- if .peerIp }}
  peerIp: {{ .peerIp | quote }}
  {{- end }}
  {{- if .peerExternalGatewayRefName }}
  peerExternalGatewayRef:
    name: {{ $projectName }}-{{ .peerExternalGatewayRefName }}
  {{- end }}
  {{- if .peerExternalGatewayInterface }}
  peerExternalGatewayInterface: {{ .peerExternalGatewayInterface }}
  {{- end }}
  {{- if .peerGCPGatewayRefName }}
  peerGCPGatewayRef:
    name: {{ $projectName }}-{{ .peerGCPGatewayRefName }}
  {{- end }}
  {{- if .vpnGatewayRefName }}
  vpnGatewayRef:
    name: {{ $projectName }}-{{ .vpnGatewayRefName }}
  {{- end }}
  {{- if .vpnGatewayInterface }}
  vpnGatewayInterface: {{ .vpnGatewayInterface }}
  {{- end }}
  {{- if .targetVPNGatewayRefName }}
  targetVPNGatewayRef:
    name: {{ $projectName }}-{{ .targetVPNGatewayRefName }}
  {{- end }}
  {{- if .routerRefName }}
  routerRef:
    name: {{ $projectName }}-{{ .routerRefName }}
  {{- end }}
  {{- with .sharedSecret }}
  sharedSecret:
    {{- if .value }}
    value: {{ .value | quote }}
    {{- else if .valueFrom }}
    valueFrom:
      {{- toYaml .valueFrom | nindent 6 }}
    {{- end }}
  {{- end }}
{{- end -}}
{{- end -}}