{{- if .Values.sslPolicy }}
{{- $allowResourceDeletion := .Values.allowResourceDeletion }}
{{- $projectName := include "cnrm-chart.projectID" . }}
{{- range .Values.sslPolicy }}
---
apiVersion: compute.cnrm.cloud.google.com/v1beta1
kind: ComputeSSLPolicy
metadata:
  annotations:
    {{- include "cnrm-chart.cnrmAnnotations" (dict "projectName" $projectName "allowResourceDeletion" $allowResourceDeletion) | nindent 4 }}
  name: {{ include "cnrm-chart.resourceName" (dict "projectName" $projectName "name" .name) }}
spec:
  resourceID: {{ .name }}
  description: {{ .description }}
  minTlsVersion: {{ .minTlsVersion }}
  profile: {{ .profile }}
{{- end -}}
{{- end -}}