{{- if .Values.computeExternalVpnGateway }}
{{- $allowResourceDeletion := .Values.allowResourceDeletion }}
{{- $projectName := include "cnrm-chart.projectID" . }}
{{- range .Values.computeExternalVpnGateway }}
---
apiVersion: compute.cnrm.cloud.google.com/v1beta1
kind: ComputeExternalVPNGateway
metadata:
  annotations:
    {{- if $allowResourceDeletion }}
    cnrm.cloud.google.com/deletion-policy: "none"
    {{- else }}
    cnrm.cloud.google.com/deletion-policy: "abandon"
    {{- end }}
    {{- if .customAnnotations }}
    {{- range $key, $value := .customAnnotations }}
    {{ $key }}: {{ $value | quote }}
    {{- end }}
    {{- end }}
    cnrm.cloud.google.com/project-id: {{ $projectName }}
  name: {{ $projectName }}-{{ .name }}
spec:
  resourceID: {{ .name }}
  {{- if .description }}
  description: {{ .description | quote }}
  {{- end }}
  {{- if .redundancyType }}
  redundancyType: {{ .redundancyType }}
  {{- end }}
  {{- with .interface }}
  interface:
    {{- range . }}
      - id: {{ .id }}
        {{- if .ipAddress }}
        ipAddress: {{ .ipAddress | quote }}
        {{- end }}
    {{- end }}
  {{- end }}
{{- end -}}
{{- end -}}