{{- if .Values.staticIp }}
{{- $allowResourceDeletion := .Values.allowResourceDeletion }}
{{- $projectName := include "cnrm-chart.projectID" . }}
{{- range .Values.staticIp }}
---
apiVersion: compute.cnrm.cloud.google.com/v1beta1
kind: ComputeAddress
metadata:
  annotations:
    {{- include "cnrm-chart.cnrmAnnotations" (dict "projectName" $projectName "allowResourceDeletion" $allowResourceDeletion) | nindent 4 }}
  name: {{ include "cnrm-chart.resourceName" (dict "projectName" $projectName "name" .name) }}
spec:
  resourceID: {{ .name }}
  addressType: {{ .addressType }}
  location: {{ .location }}
  ipVersion: {{ .ipVersion }}
  {{- if .purpose }}
  purpose: {{ .purpose }}
  {{- end }}
  {{- if .prefixLength }}
  prefixLength: {{ .prefixLength }}
  {{- end }}
  {{- with .networkRef }}
  networkRef:
    {{- if .external }}
    external: {{ .external }}
    {{- else if .name }}
    name: {{ include "cnrm-chart.resourceName" (dict "projectName" $projectName "name" .name) }}
    {{- end }}
    {{- if .namespace }}
    namespace: {{ .namespace }}
    {{- end }}
  {{- end }}
{{- end -}}
{{- end -}}