{{- if .Values.sslPolicy }}
{{- $allowResourceDeletion := .Values.allowResourceDeletion }}
{{- $projectName := include "cnrm-chart.projectID" . }}
{{- range .Values.sslPolicy }}
---
apiVersion: compute.cnrm.cloud.google.com/v1beta1
kind: ComputeSSLPolicy
metadata:
  annotations:
    {{- if $allowResourceDeletion }}
    cnrm.cloud.google.com/deletion-policy: "none"
    {{- else }}
    cnrm.cloud.google.com/deletion-policy: "abandon"
    {{- end }}
    cnrm.cloud.google.com/project-id: {{ $projectName }}
  name: {{ $projectName }}-{{ .name }}
spec:
  resourceID: {{ .name }}
  description: {{ .description }}
  minTlsVersion: {{ .minTlsVersion }}
  profile: {{ .profile }}
{{- end -}}
{{- end -}}