{{- if .Values.computeVpnGateway }}
{{- $allowResourceDeletion := .Values.allowResourceDeletion }}
{{- $projectName := include "cnrm-chart.projectID" . }}
{{- range .Values.computeVpnGateway }}
---
apiVersion: compute.cnrm.cloud.google.com/v1beta1
kind: ComputeVPNGateway
metadata:
  annotations:
    {{- if $allowResourceDeletion }}
    cnrm.cloud.google.com/deletion-policy: "none"
    {{- else }}
    cnrm.cloud.google.com/deletion-policy: "abandon"
    {{- end }}
    {{- if .customAnnotations }}
    {{- range $key, $value := .customAnnotations }}
    {{ $key }}: {{ $value | quote }}
    {{- end }}
    {{- end }}
    cnrm.cloud.google.com/project-id: {{ $projectName }}
  name: {{ $projectName }}-{{ .name }}
spec:
  resourceID: {{ .name }}
  region: {{ .region }}
  networkRef:
    name: {{ $projectName }}-{{ .networkRefName }}
  {{- if .description }}
  description: {{ .description | quote }}
  {{- end }}
  {{- if .stackType }}
  stackType: {{ .stackType }}
  {{- end }}
  {{- with .vpnInterfaces }}
  vpnInterfaces:
    {{- range . }}
      - id: {{ .id }}
        {{- if .ipAddress }}
        ipAddress: {{ .ipAddress | quote }}
        {{- end }}
        {{- if .interconnectAttachmentRefName }}
        interconnectAttachmentRef:
          name: {{ $projectName }}-{{ .interconnectAttachmentRefName }}
        {{- end }}
    {{- end }}
  {{- end }}
{{- end -}}
{{- end -}}