{{- if .Values.sharedVpc }}
{{- $allowResourceDeletion := .Values.allowResourceDeletion }}
{{- $projectName := include "cnrm-chart.projectID" . }}
{{- if .Values.sharedVpc.enableHostProject }}
---
apiVersion: compute.cnrm.cloud.google.com/v1beta1
kind: ComputeSharedVPCHostProject
metadata:
  annotations:
    {{- include "cnrm-chart.deletionPolicy" (dict "allowResourceDeletion" $allowResourceDeletion) | nindent 4 }}
    cnrm.cloud.google.com/project-id: {{ $projectName }}
    {{- include "cnrm-chart.customAnnotations" (dict "annotations" .Values.sharedVpc.hostProjectAnnotations) | nindent 4 }}
  name: {{ include "cnrm-chart.resourceName" (dict "projectName" $projectName "name" "sharedvpc-host") }}
spec: {}
{{- end }}
{{- if .Values.sharedVpc.attachToHostProject }}
---
apiVersion: compute.cnrm.cloud.google.com/v1beta1
kind: ComputeSharedVPCServiceProject
metadata:
  annotations:
    {{- include "cnrm-chart.deletionPolicy" (dict "allowResourceDeletion" $allowResourceDeletion) | nindent 4 }}
    cnrm.cloud.google.com/project-id: {{ .Values.sharedVpc.attachToHostProject }}
    {{- include "cnrm-chart.customAnnotations" (dict "annotations" .Values.sharedVpc.serviceProjectAnnotations) | nindent 4 }}
  name: {{ include "cnrm-chart.resourceName" (dict "projectName" $projectName "name" "sharedvpc-service") }}
spec:
  {{- if .Values.sharedVpc.serviceProjectDeletionPolicy }}
  deletionPolicy: {{ .Values.sharedVpc.serviceProjectDeletionPolicy }}
  {{- end }}
  projectRef:
    external: {{ $projectName }}
{{- end }}
{{- end }}
