{{- if .Values.dns }}
{{- $allowResourceDeletion := .Values.allowResourceDeletion }}
{{- $projectName := include "cnrm-chart.projectID" . }}
{{- if .Values.dns.zone }}
{{- range .Values.dns.zone }}
{{- $name1 := mustRegexReplaceAll "\\W|\\B_" .name "-" }}
{{- $metaName := mustRegexReplaceAll "^_" $name1 "" }}
---
apiVersion: dns.cnrm.cloud.google.com/v1beta1
kind: DNSManagedZone
metadata:
  annotations:
    {{- include "cnrm-chart.cnrmAnnotations" (dict "projectName" $projectName "allowResourceDeletion" $allowResourceDeletion) | nindent 4 }}
  name: {{ $metaName }}
spec:
  resourceID: {{ $metaName }}
  description: {{ .description }}
  dnsName: {{ .name }}.
  dnssecConfig:
    state: {{ .dnssecConfigState | quote }}
  visibility: {{ .visibility }}
{{- if .record }}
{{- range .record }}
{{- $dotsToHyphens := mustRegexReplaceAll "\\W|\\B_" .name "-" }}
{{- $dkimCleaned := mustRegexReplaceAll "_domainkey" $dotsToHyphens "domainkey" }}
{{- $k8sName := mustRegexReplaceAll "^_" $dkimCleaned "" }}
---
apiVersion: dns.cnrm.cloud.google.com/v1beta1
kind: DNSRecordSet
metadata:
  annotations:
    {{- include "cnrm-chart.cnrmAnnotations" (dict "projectName" $projectName "allowResourceDeletion" $allowResourceDeletion) | nindent 4 }}
  name: {{ $projectName }}-{{ $k8sName }}-{{ .type | lower }}
spec:
  name: {{ .name }}.
  type: {{ .type }}
  ttl: {{ .ttl }}
  managedZoneRef:
    name: {{ $metaName }}
  {{- if .computeAddress }}
  rrdatasRefs:
    - name: {{ include "cnrm-chart.resourceName" (dict "projectName" $projectName "name" .computeAddress) }}
      kind: ComputeAddress
  {{- else if .rrdatas }}
  rrdatas:
    {{- $type := .type }}
    {{- range .rrdatas }}
      {{- if eq $type "TXT" }}
      - "\"{{ . }}\""
      {{- else }}
      - {{ . | quote }}
      {{- end }}
    {{- end }}
  {{- end }}
{{- end }}
{{- end }}
{{- end }}
{{- end }}
{{- if .Values.dns.record }}
{{- range .Values.dns.record }}
{{- $dotsToHyphens := mustRegexReplaceAll "\\W|\\B_" .name "-" }}
{{- $dkimCleaned := mustRegexReplaceAll "_domainkey" $dotsToHyphens "domainkey" }}
{{- $k8sName := mustRegexReplaceAll "^_" $dkimCleaned "" }}
---
apiVersion: dns.cnrm.cloud.google.com/v1beta1
kind: DNSRecordSet
metadata:
  annotations:
    {{- include "cnrm-chart.cnrmAnnotations" (dict "projectName" $projectName "allowResourceDeletion" $allowResourceDeletion) | nindent 4 }}
  name: {{ $projectName }}-{{ $k8sName }}-{{ .type | lower }}
spec:
  name: {{ .name }}.
  type: {{ .type }}
  ttl: {{ .ttl }}
  managedZoneRef:
    name: {{ .dnsZone }}
  {{- if .computeAddress }}
  rrdatasRefs:
    - name: {{ include "cnrm-chart.resourceName" (dict "projectName" $projectName "name" .computeAddress) }}
      kind: ComputeAddress
  {{- else if .rrdatas }}
  rrdatas:
    {{- $type := .type }}
    {{- range .rrdatas }}
      {{- if eq $type "TXT" }}
      - "\"{{ . }}\""
      {{- else }}
      - {{ . | quote }}
      {{- end }}
    {{- end }}
  {{- end }}
{{- end }}
{{- end }}
{{- end }}