{{- if .Values.externalSecrets }}
{{- $projectName := include "cnrm-chart.projectID" . }}
{{- range .Values.externalSecrets }}
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: {{ .secretName }}
spec:
  refreshInterval: {{ .refreshInterval }}
  secretStoreRef:
    name: {{ .secretStoreName }}
    kind: {{ .secretStoreKind }}
  target:
    name: {{ .secretName }}
    creationPolicy: {{ .secretCreationPolicy }}
  data:
    {{- range .data }}
    - secretKey: {{ .secretKey }}
      remoteRef:
        key: {{ .remoteSecretKey }}
    {{- end }}
{{- end -}}
{{- end -}}