{{- if .Values.k8s }}
{{- $allowResourceDeletion := .Values.allowResourceDeletion }}
{{- $projectName := include "cnrm-chart.projectID" . }}
{{- $sharedVpcHostProject := include "cnrm-chart.sharedVpcHostProject" . }}
{{- range .Values.k8s }}
---
apiVersion: container.cnrm.cloud.google.com/v1beta1
kind: ContainerCluster
metadata:
  annotations:
    {{- include "cnrm-chart.cnrmAnnotations" (dict "projectName" $projectName "allowResourceDeletion" $allowResourceDeletion) | nindent 4 }}
    {{- include "cnrm-chart.customAnnotations" (dict "annotations" .customAnnotations) | nindent 4 }}
    cnrm.cloud.google.com/remove-default-node-pool: "true"
  name: {{ include "cnrm-chart.resourceName" (dict "projectName" $projectName "name" .clusterName) }}
spec:
  resourceID: {{ .clusterName }}
  location: {{ .clusterLocation }}
  initialNodeCount: 1
  workloadIdentityConfig:
    workloadPool: {{ $projectName }}.svc.id.goog
  {{- include "cnrm-chart.validateNetworkRefs" . }}
  {{- if .sharedVpcNetwork }}
  networkRef:
    external: {{ .sharedVpcNetwork }}
  subnetworkRef:
    external: {{ .sharedVpcSubnetwork }}
  {{- else if .sharedVpc }}
  {{- $hostProj := .sharedVpc.hostProject | default $sharedVpcHostProject }}
  {{- if not $hostProj }}
  {{- fail "sharedVpc.hostProject is required (or set sharedVpc.attachToHostProject at the top level)" }}
  {{- end }}
  {{- $region := .sharedVpc.subnetworkRegion | default (include "cnrm-chart.extractRegion" .clusterLocation) }}
  networkRef:
    external: {{ include "cnrm-chart.sharedVpcNetworkPath" (dict "hostProject" $hostProj "network" .sharedVpc.network) }}
  subnetworkRef:
    external: {{ include "cnrm-chart.sharedVpcSubnetworkPath" (dict "hostProject" $hostProj "region" $region "subnetwork" .sharedVpc.subnetwork) }}
  {{- else }}
  networkRef:
    name: {{ include "cnrm-chart.resourceName" (dict "projectName" $projectName "name" .networkName) }}
  subnetworkRef:
    name: {{ include "cnrm-chart.resourceName" (dict "projectName" $projectName "name" .subnetName) }}
  {{- end }}
  ipAllocationPolicy:
    servicesSecondaryRangeName: {{ .servicesSecondaryRangeName }}
    clusterSecondaryRangeName: {{ .clusterSecondaryRangeName }}
  {{- if .clusterAutoscaling }}
  clusterAutoscaling:
    {{- toYaml .clusterAutoscaling | nindent 4 }}
  {{- end }}
  {{- if .releaseChannel }}
  releaseChannel:
    channel: {{ .releaseChannel }}
  {{- end }}
  {{- if .datapathProvider }}
  datapathProvider: {{ .datapathProvider }}
  {{- end }}
  enableIntranodeVisibility: {{ default false .enableIntranodeVisibility }}
  {{- if .enableShieldedNodes }}
  enableShieldedNodes: {{ .enableShieldedNodes }}
  {{- end }}
  {{- if .addonsConfig }}
  addonsConfig:
    {{- toYaml .addonsConfig | nindent 4 }}
  {{- end }}
  {{- if .verticalPodAutoscalingEnabled }}
  verticalPodAutoscaling:
    enabled: {{ .verticalPodAutoscalingEnabled }}
  {{- end }}
  {{- if .loggingConfig }}
  loggingConfig:
    {{- toYaml .loggingConfig | nindent 4 }}
  {{- end }}
  {{- if .maintenancePolicy }}
  maintenancePolicy:
    {{- toYaml .maintenancePolicy | nindent 4 }}
  {{- end }}
  {{- if .monitoringConfig }}
  monitoringConfig:
    {{- toYaml .monitoringConfig | nindent 4 }}
  {{- end }}
  {{- with .gatewayApiConfig }}
  gatewayApiConfig:
    channel: {{ .channel }}
  {{- end }}
  {{- with .binaryAuthorization }}
  binaryAuthorization:
    evaluationMode: {{ .evaluationMode }}
  {{- end }}
  {{- if .costManagementConfig }}
  costManagementConfig:
    enabled: true
  {{- end }}
{{- if .nodePool }}
{{- $clusterName := .clusterName }}
{{- range .nodePool }}
{{- $nodePoolName := .name }}
{{- $nodePoolTags := .tags }}
---
apiVersion: container.cnrm.cloud.google.com/v1beta1
kind: ContainerNodePool
metadata:
  annotations:
    {{- include "cnrm-chart.cnrmAnnotations" (dict "projectName" $projectName "allowResourceDeletion" $allowResourceDeletion) | nindent 4 }}
    {{- include "cnrm-chart.customAnnotations" (dict "annotations" .customAnnotations) | nindent 4 }}
  name: {{ include "cnrm-chart.resourceName" (dict "projectName" $projectName "name" .name) }}
spec:
  resourceID: {{ .name }}
  autoscaling:
    minNodeCount: {{ .minNodeCount }}
    maxNodeCount: {{ .maxNodeCount }}
  clusterRef:
    name: {{ include "cnrm-chart.resourceName" (dict "projectName" $projectName "name" $clusterName) }}
  {{- if .initialNodeCount }}
  initialNodeCount: {{ .initialNodeCount }}
  {{- end }}
  {{- if .nodeLocation }}
  location: {{ .nodeLocation }}
  {{- end }}
  {{- with .management }}
  management:
    autoRepair: {{ .autoRepair }}
    autoUpgrade: {{ .autoUpgrade }}
  {{- end }}
  {{- if .maxPodsPerNode }}
  maxPodsPerNode: {{ .maxPodsPerNode }}
  {{- end }}
  {{- with .nodeConfig }}
  nodeConfig:
    {{- if .diskSizeGb }}
    diskSizeGb: {{ .diskSizeGb }}
    {{- end }}
    {{- if .diskType }}
    diskType: {{ .diskType }}
    {{- end }}
    {{- if .imageType }}
    imageType: {{ .imageType }}
    {{- end }}
    {{- if .machineType }}
    machineType: {{ .machineType }}
    {{- end }}
    {{- if .metadata }}
    metadata:
      {{- toYaml .metadata | nindent 6 }}
    {{- end }}
    {{- if .oauthScopes }}
    oauthScopes:
      {{- toYaml .oauthScopes | nindent 6 }}
    {{- end }}
    {{- with .shieldedInstanceConfig }}
    shieldedInstanceConfig:
      enableSecureBoot: {{ .enableSecureBoot }}
      enableIntegrityMonitoring: {{ .enableIntegrityMonitoring }}
    {{- end }}
    tags:
      - "{{ $nodePoolName }}-nodes"
    {{- if $nodePoolTags }}
      {{- toYaml $nodePoolTags | nindent 6 }}
    {{- end }}
  {{- end }}
  {{- if .upgradeSettings }}
  upgradeSettings:
    {{- toYaml .upgradeSettings | nindent 4 }}
  {{- end }}
{{- end -}}
{{- end -}}
{{- end -}}
{{- end -}}