{{- if .Values.gkeHub }}
{{- $allowResourceDeletion := .Values.allowResourceDeletion }}
{{- $projectName := include "cnrm-chart.projectID" . }}
{{- range .Values.gkeHub }}
{{- if .membership }}
{{- range .membership }}
---
apiVersion: gkehub.cnrm.cloud.google.com/v1beta1
kind: GKEHubMembership
metadata:
  annotations:
    {{- include "cnrm-chart.cnrmAnnotations" (dict "projectName" $projectName "allowResourceDeletion" $allowResourceDeletion) | nindent 4 }}
  name: {{ include "cnrm-chart.resourceName" (dict "projectName" $projectName "name" .name) }}
spec:
  resourceID: {{ .name }}
  location: {{ .location }}
  description: {{ .description | quote }}
  {{- if .endpoint }}
  endpoint:
    {{- if .endpoint.gkeCluster }}
    gkeCluster:
      resourceRef:
        name: {{ include "cnrm-chart.resourceName" (dict "projectName" $projectName "name" .endpoint.gkeCluster.name) }}
    {{- end }}
  {{- end }}
{{- end }}
{{- end }}
{{- if .feature }}
{{- range .feature }}
---
apiVersion: gkehub.cnrm.cloud.google.com/v1beta1
kind: GKEHubFeature
metadata:
  annotations:
    {{- include "cnrm-chart.cnrmAnnotations" (dict "projectName" $projectName "allowResourceDeletion" $allowResourceDeletion) | nindent 4 }}
  name: {{ include "cnrm-chart.resourceName" (dict "projectName" $projectName "name" .name) }}
spec:
  projectRef:
    name: {{ $projectName }}
  location: {{ .location }}
  resourceID: {{ .resourceID }}
  {{- if .multiClusterIngress }}
  spec:
    multiclusteringress:
      configMembershipRef:
        name: {{ include "cnrm-chart.resourceName" (dict "projectName" $projectName "name" .multiClusterIngress.mciName) }}
  {{- end }}
{{- end -}}
{{- end -}}
{{- end -}}
{{- end -}}