{{- if .Values.iam }}
{{- $allowResourceDeletion := .Values.allowResourceDeletion }}
{{- $projectName := include "cnrm-chart.projectID" . }}
{{- range .Values.iam }}
{{- if .name }}
---
apiVersion: iam.cnrm.cloud.google.com/v1beta1
kind: IAMServiceAccount
metadata:
  annotations:
    {{- include "cnrm-chart.cnrmAnnotations" (dict "projectName" $projectName "allowResourceDeletion" $allowResourceDeletion) | nindent 4 }}
    {{- include "cnrm-chart.customAnnotations" (dict "annotations" .customAnnotations) | nindent 4 }}
  name: {{ include "cnrm-chart.resourceName" (dict "projectName" $projectName "name" .name) }}
spec:
  {{- if .displayName }}
  displayName: {{ .displayName | quote }}
  {{- end }}
  {{- if .description }}
  description: {{ .description }}
  {{- end }}
  resourceID: {{ .name }}
{{- end }}
{{- if .iamPolicyMember }}
{{- range .iamPolicyMember }}
---
apiVersion: iam.cnrm.cloud.google.com/v1beta1
kind: IAMPolicyMember
metadata:
  annotations:
    {{- include "cnrm-chart.cnrmAnnotations" (dict "projectName" $projectName "allowResourceDeletion" $allowResourceDeletion) | nindent 4 }}
  name: {{ $projectName }}-{{ include "cnrm-chart.sanitizeName" .name }}
spec:
  member: {{ .member }}
  role: {{ .role }}
  resourceRef:
    apiVersion: resourcemanager.cnrm.cloud.google.com/v1beta1
    kind: Project
    external: {{ default (printf "projects/%s" $projectName) .external | quote }}
  {{- with .condition }}
  condition:
    title: {{ .title | quote }}
    {{- if .description }}
    description: {{ .description | quote }}
    {{- end }}
    expression: {{ .expression | quote }}
  {{- end }}
{{- end }}
{{- end }}
{{- if .iamPolicy }}
{{- $saName := .name }}
{{- range .iamPolicy }}
---
apiVersion: iam.cnrm.cloud.google.com/v1beta1
kind: IAMPolicy
metadata:
  annotations:
    {{- include "cnrm-chart.cnrmAnnotations" (dict "projectName" $projectName "allowResourceDeletion" $allowResourceDeletion) | nindent 4 }}
  name: {{ $projectName }}-{{ include "cnrm-chart.sanitizeName" .name }}
spec:
  resourceRef:
    kind: {{ .kind }}
    {{- if eq .kind "IAMServiceAccount" }}
    external: projects/{{ $projectName }}/serviceAccounts/{{ $saName }}@{{ $projectName }}.iam.gserviceaccount.com
    {{- end }}
  bindings:
    {{- toYaml .bindings | nindent 4 }}
{{- end -}}
{{- end -}}
{{- end -}}
{{- end -}}