{{- if .Values.ids }}
{{- $allowResourceDeletion := .Values.allowResourceDeletion }}
{{- $projectName := include "cnrm-chart.projectID" . }}
{{- range .Values.ids }}
---
apiVersion: cloudids.cnrm.cloud.google.com/v1beta1
kind: CloudIDSEndpoint
metadata:
  annotations:
    {{- if $allowResourceDeletion }}
    cnrm.cloud.google.com/deletion-policy: "none"
    {{- else }}
    cnrm.cloud.google.com/deletion-policy: "abandon"
    {{- end }}
    {{- if .customAnnotations }}
    {{- range $key, $value := .customAnnotations }}
    {{ $key }}: {{ $value | quote }}
    {{- end }}
    {{- end }}
  name: {{ $projectName }}-{{ .name }}
spec:
  networkRef:
    name: {{ $projectName }}-{{ .networkRefName }}
  severity: {{ .severity }}
  location: {{ .location }}
  projectRef:
    name: {{ $projectName }}
  {{- if .threatExceptions }}
  threatExceptions:
    {{- toYaml .threatExceptions | nindent 4 }}
  {{- end }}
{{- end -}}
{{- end -}}