{{- if .Values.ids }}
{{- $allowResourceDeletion := .Values.allowResourceDeletion }}
{{- $projectName := include "cnrm-chart.projectID" . }}
{{- range .Values.ids }}
---
apiVersion: cloudids.cnrm.cloud.google.com/v1beta1
kind: CloudIDSEndpoint
metadata:
  annotations:
    {{- include "cnrm-chart.cnrmAnnotations" (dict "projectName" $projectName "allowResourceDeletion" $allowResourceDeletion) | nindent 4 }}
    {{- include "cnrm-chart.customAnnotations" (dict "annotations" .customAnnotations) | nindent 4 }}
  name: {{ include "cnrm-chart.resourceName" (dict "projectName" $projectName "name" .name) }}
spec:
  resourceID: {{ .name }}
  networkRef:
    name: {{ include "cnrm-chart.resourceName" (dict "projectName" $projectName "name" .networkRefName) }}
  severity: {{ .severity }}
  location: {{ .location }}
  projectRef:
    name: {{ $projectName }}
  {{- if .threatExceptions }}
  threatExceptions:
    {{- toYaml .threatExceptions | nindent 4 }}
  {{- end }}
{{- end -}}
{{- end -}}