{{- if .Values.logging }}
{{- $allowResourceDeletion := .Values.allowResourceDeletion }}
{{- $projectName := include "cnrm-chart.projectID" . }}
{{- with .Values.logging }}
{{- if .logMetric }}
{{- range .logMetric }}
---
apiVersion: logging.cnrm.cloud.google.com/v1beta1
kind: LoggingLogMetric
metadata:
  annotations:
    {{- include "cnrm-chart.cnrmAnnotations" (dict "projectName" $projectName "allowResourceDeletion" $allowResourceDeletion) | nindent 4 }}
  name: {{ include "cnrm-chart.resourceName" (dict "projectName" $projectName "name" .name) }}
spec:
  resourceID: {{ .name }}
  {{- if .description }}
  description: {{ .description | quote }}
  {{- end }}
  {{- if .disabled }}
  disabled: true
  {{- else }}
  disabled: false
  {{- end }}
  filter: {{ .filter | squote }}
  {{- if .labelExtractors }}
  labelExtractors:
    {{- range $key, $value := .labelExtractors }}
    {{ $key }}: {{ $value | quote }}
    {{- end }}
  {{- end }}
  {{- if .loggingLogBucketRef }}
  loggingLogBucketRef:
    {{- with .loggingLogBucketRef }}
    {{- if .external }}
    external: {{ .external | quote }}
    {{- end }}
    {{- if .kind }}
    kind: {{ .kind | quote }}
    {{- end }}
    {{- if .name }}
    name: {{ .name | quote }}
    {{- end }}
    {{- if .namespace }}
    namespace: {{ .namespace | quote }}
    {{- end }}
    {{- end }}
  {{- end }}
  {{- if .metricDescriptor }}
  metricDescriptor:
    {{- with .metricDescriptor }}
    {{- if .displayName }}
    displayName: {{ .displayName | quote }}
    {{- end }}
    {{- if .labels }}
    labels:
    {{- range .labels }}
      - key: {{ .key | quote }}
        valueType: {{ .valueType | quote }}
        {{- if .description }}
        description: {{ .description | quote }}
        {{- end }}
    {{- end }}
    {{- end }}
    {{- if .launchStage }}
    launchStage: {{ .launchStage | quote }}
    {{- end }}
    {{- if .metadata }}
    metadata:
      {{- with .metadata }}
      {{- if .ingestDelay }}
      ingestDelay: {{ .ingestDelay | quote }}
      {{- end }}
      {{- if .samplePeriod }}
      samplePeriod: {{ .samplePeriod | quote }}
      {{- end }}
      {{- end }}
    {{- end }}
    {{- if .metricKind }}
    metricKind: {{ .metricKind | quote }}
    {{- end }}
    {{- if .unit }}
    unit: {{ .unit | quote }}
    {{- end }}
    {{- if .valueType }}
    valueType: {{ .valueType | quote }}
    {{- end }}
    {{- end }}
    {{- end }}
  projectRef:
    name: {{ $projectName }}
  {{- if .valueExtractor }}
  valueExtractor: {{ .valueExtractor | quote }}
  {{- end }}
  {{- if .bucketOptions }}
  bucketOptions:
    {{- toYaml .bucketOptions | nindent 4 }}
  {{- end }}
{{- end }}
{{- end }}
{{- if .logBucket }}
{{- range .logBucket }}
---
apiVersion: logging.cnrm.cloud.google.com/v1beta1
kind: LoggingLogBucket
metadata:
  annotations:
    {{- include "cnrm-chart.cnrmAnnotations" (dict "projectName" $projectName "allowResourceDeletion" $allowResourceDeletion) | nindent 4 }}
  name: {{ $projectName }}-{{ .name }}
spec:
  resourceID: {{ .name }}
  {{- if .billing }}
  billingAccountRef:
    external: {{ .billing.accountId }}
  {{- else if .organization }}
  organizationRef:
    external: organizations/{{ .organization.orgId }}
  {{- else }}
  projectRef:
    external: projects/{{ $projectName }}
  {{- end }}
  location: {{ .location }}
  {{- if .description }}
  description: {{ .description }}
  {{- end }}
  {{- if .locked }}
  locked: {{ .locked }}
  {{- end }}
  {{- if .retentionDays }}
  retentionDays: {{ .retentionDays }}
  {{- end }}
{{- end -}}
{{- end -}}
{{- end -}}
{{- end -}}