{{- if .Values.monitoring }}
{{- $allowResourceDeletion := .Values.allowResourceDeletion }}
{{- $projectName := include "cnrm-chart.projectID" . }}
{{- range .Values.monitoring }}
{{- if .notificationChannel }}
{{- range .notificationChannel }}
---
apiVersion: monitoring.cnrm.cloud.google.com/v1beta1
kind: MonitoringNotificationChannel
metadata:
  annotations:
    {{- if $allowResourceDeletion }}
    cnrm.cloud.google.com/deletion-policy: "none"
    {{- else }}
    cnrm.cloud.google.com/deletion-policy: "abandon"
    {{- end }}
    cnrm.cloud.google.com/project-id: {{ $projectName }}
  name: {{ $projectName }}-{{ .name }}
spec:
  type: {{ .type }}
  {{- if .displayName }}
  displayName: {{ .displayName | quote }}
  {{- end }}
  {{- if .labels }}
  labels:
    {{- toYaml .labels | nindent 4 }}
  {{- end }}
  {{- if .sensitiveLabels }}
  sensitiveLabels:
    {{- toYaml .sensitiveLabels | nindent 4 }}
  {{- end }}
  description: {{ .description | quote }}
  enabled: {{ .enabled }}
{{- end }}
{{- end }}
{{- if .alertPolicy }}
{{- range .alertPolicy }}
---
apiVersion: monitoring.cnrm.cloud.google.com/v1beta1
kind: MonitoringAlertPolicy
metadata:
  annotations:
    {{- if $allowResourceDeletion }}
    cnrm.cloud.google.com/deletion-policy: "none"
    {{- else }}
    cnrm.cloud.google.com/deletion-policy: "abandon"
    {{- end }}
    cnrm.cloud.google.com/project-id: {{ $projectName }}
  name: {{ $projectName }}-{{ .name }}
spec:
  displayName: {{ .displayName | quote }}
  enabled: {{ .enabled }}
  {{- if .notificationChannels }}
  notificationChannels:
    {{- range .notificationChannels }}
    - name: {{ $projectName }}-{{ .name }}
    {{- end }}
  {{- end }}
  combiner: {{ .combiner }}
  {{- if .alertStrategy }}
  alertStrategy:
    {{- toYaml .alertStrategy | nindent 4 }}
  {{- end }}
  conditions:
    {{- toYaml .conditions | nindent 4 }}
{{- end }}
{{- end }}
{{- if .monitoredProject }}
{{- with .monitoredProject }}
---
apiVersion: monitoring.cnrm.cloud.google.com/v1beta1
kind: MonitoringMonitoredProject
metadata:
  annotations:
    {{- if $allowResourceDeletion }}
    cnrm.cloud.google.com/deletion-policy: "none"
    {{- else }}
    cnrm.cloud.google.com/deletion-policy: "abandon"
    {{- end }}
  name: {{ $projectName }}-{{ .name }}
spec:
  metricsScope: {{ .name }}
  resourceID: {{ $projectName }}
{{- end -}}
{{- end -}}
{{- end -}}
{{- end -}}