{{- if .Values.snc }}
{{- $allowResourceDeletion := .Values.allowResourceDeletion }}
{{- $projectName := include "cnrm-chart.projectID" . }}
{{- range .Values.snc }}
---
apiVersion: servicenetworking.cnrm.cloud.google.com/v1beta1
kind: ServiceNetworkingConnection
metadata:
  annotations:
    {{- include "cnrm-chart.cnrmAnnotations" (dict "projectName" $projectName "allowResourceDeletion" $allowResourceDeletion) | nindent 4 }}
  name: {{ include "cnrm-chart.resourceName" (dict "projectName" $projectName "name" .name) }}
spec:
  {{- include "cnrm-chart.networkRef" (dict "context" $ "projectName" $projectName "networkRefName" .networkRefName "sharedVpc" .sharedVpc) | nindent 2 }}
  reservedPeeringRanges:
    {{- range .reservedPeeringRanges }}
    - name: {{ include "cnrm-chart.resourceName" (dict "projectName" $projectName "name" .name) }}
    {{- end }}
  service: {{ .service }}
{{- end -}}
{{- end -}}