{{- if .Values.vpcNetwork }}
{{- $allowResourceDeletion := .Values.allowResourceDeletion }}
{{- $projectName := include "cnrm-chart.projectID" . }}
{{- range .Values.vpcNetwork }}
---
apiVersion: compute.cnrm.cloud.google.com/v1beta1
kind: ComputeNetwork
metadata:
  annotations:
    {{- if $allowResourceDeletion }}
    cnrm.cloud.google.com/deletion-policy: "none"
    {{- else }}
    cnrm.cloud.google.com/deletion-policy: "abandon"
    {{- end }}
    {{- if .customAnnotations }}
    {{- range $key, $value := .customAnnotations }}
    {{ $key }}: {{ $value | quote }}
    {{- end }}
    {{- end }}
    cnrm.cloud.google.com/project-id: {{ $projectName }}
  name: {{ $projectName }}-{{ .networkName }}
spec:
  resourceID: {{ .networkName }}
  {{- if .autoCreateSubnetworks }}
  autoCreateSubnetworks: true
  {{- else }}
  autoCreateSubnetworks: false
  {{- end }}
  {{- if .description }}
  description: {{ .description | quote }}
  {{- end }}
  mtu: {{ .mtu | default 1460 }}
  routingMode: {{ .routingMode | default "REGIONAL" }}
  networkFirewallPolicyEnforcementOrder: {{ .networkFirewallPolicyEnforcementOrder | default "AFTER_CLASSIC_FIREWALL" }}
{{- if .subNets }}
{{- $networkName := .networkName }}
{{- range .subNets }}
---
apiVersion: compute.cnrm.cloud.google.com/v1beta1
kind: ComputeSubnetwork
metadata:
  annotations:
    {{- if $allowResourceDeletion }}
    cnrm.cloud.google.com/deletion-policy: "none"
    {{- else }}
    cnrm.cloud.google.com/deletion-policy: "abandon"
    {{- end }}
    cnrm.cloud.google.com/project-id: {{ $projectName }}
  name: {{ $projectName }}-{{ .subnetName }}
spec:
  resourceID: {{ .subnetName }}
  ipCidrRange: {{ .subnetCidr }}
  region: {{ .vpcRegion }}
  networkRef:
    name: {{ $projectName }}-{{ $networkName }}
  {{- if .purpose }}
  purpose: {{ .purpose }}
  {{- end }}
  {{- if not .role }}
  {{- if or (eq .purpose "INTERNAL_HTTPS_LOAD_BALANCER") (eq .purpose "REGIONAL_MANAGED_PROXY")}}
  role: ACTIVE
  {{- end }}
  {{- else }}
  role: {{ .role }}
  {{- end }}
  {{- if .secondarySubnets }}
  secondaryIpRange:
    {{- range .secondarySubnets }}
    - rangeName: {{ .name }}
      ipCidrRange: {{ .ipCidrRange }}
    {{- end }}
  {{- end }}
  {{- if and (ne .purpose "INTERNAL_HTTPS_LOAD_BALANCER") (ne .purpose "REGIONAL_MANAGED_PROXY")}}
  stackType: {{ .stackType | default "IPV4_ONLY"}}
  {{- end }}
{{- end -}}
{{- end -}}
{{- end -}}
{{- end -}}